//---------------//
//--- Wrapper ---//
//---------------//

.wrapper {
  padding-top: $wrapper;
  padding-bottom: $wrapper;
}
.wrapper-sm {
  padding-top: $wrapper-sm;
  padding-bottom: $wrapper-sm;
}
.wrapper-lg {
  padding-top: $wrapper-lg;
  padding-bottom: $wrapper-lg;
}
